<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en">

<head>
	<title>{{puzzle.title}}</title>
</head>

<body bgcolor="#ffffff">

<table border="0" width="650" bgcolor="#000000" cellpadding="0" cellspacing="0">
<tr>
<td width="450" class="telegraph" bgcolor="#ffffff">{{puzzle.title}}<br><img src="clear.gif" width="250" height="1"></td>
<td align="right" bgcolor="#ffffff" valign="bottom" class="sectionhead">{{puzzle.author}}</td>
</tr>
<tr>
<td colspan="2"><img src="clear.gif" width="1" height="2"></td>
</tr>
</table>

<br>

<table border="0" width="650" bgcolor="#ffffff" cellpadding="0" cellspacing="0">
<tr>
<td><img src="clear.gif" width="1" height="3"></td>
</tr>
<tr>
<td>
<center>
<table cellspacing="0" cellpadding="0" border="0" bgcolor="#ccc" align="center" valign="top">
{{#puzzle.squares}}
	<tr>
	{{#.}}
		<td><img src='{{imageSrc}}' width="24" height="24"/></td>
	{{/.}}
	</tr>
{{/puzzle.squares}}
</table>

<br>

<table border="0" width="650" bgcolor="#ffffff" cellpadding="0" cellspacing="0">
<tr valign="top">
<td width="20">&nbsp;</td>
<td width="290"><font face="arial,helvetica" size="2"><b>Across</b></font><br>
<table>
{{#puzzle.acrossClues}}
<tr><td valign="top"><b><font face="arial,helvetica" size="2">{{number}}</font></b></td><td width="85%"><font face="arial,helvetica" size="2"><clue>{{clue}}</clue></font></td></tr>
{{/puzzle.acrossClues}}
</tr>
</table>
</td>
<td width="30">&nbsp;</td>
<td width="290"><font face="arial,helvetica" size="2"><b>Down</b></font><br>
<table>
<tr>
{{#puzzle.downClues}}
<tr><td valign="top"><b><font face="arial,helvetica" size="2">{{number}}</font></b></td><td width="85%"><font face="arial,helvetica" size="2"><clue>{{clue}}</clue></font></td></tr>
{{/puzzle.downClues}}
</tr>
</table>
</td>
<td width="20">&nbsp;</td>
</tr>
</table>

</body>
</html>
